@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
  color variable are set for consistency of styling
  **/
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #fbfbfb;
    --secondary: #e8f9ff;
    --accent: #a294f9;
    --alarm: #de0b0b;
    --success: #80f057;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #2a004e;
    --secondary: #6a1e55;
    --accent: #be3144;
    --alarm: #de0b0b;
    --success: #80f057;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
